@use './color.scss' as *;

html[data-theme='light'] {
  --color-text: #{$text-color-light};
  --color-bg: #{$bg-color-light};
  --color-btn: #{$btn-color-light};
}

html[data-theme='dark'] {
  --color-text: #{$text-color-dark};
  --color-bg: #{$bg-color-dark};
  --color-btn: #{$btn-color-dark};
}
